body {
  background-color: $background;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.landing-page {
  background-image: url('~assets/YANA-background-03.png');
  background-position: center 105%;
  background-size: contain;
  background-repeat: no-repeat;
}
